
[build-system]
requires = [
    "setuptools>=40.6.0",
    "wheel",
    "setuptools_scm",
]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 79

[tool.isort]
skip_glob = ["docs/*"]
line_length = 79
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true

[tool.coverage.run]
parallel = true
branch = true
source = ["exoplanet_jax"]
omit = [
  "*_test.py",
  "*__init__*",
  "*/exoplanet_jax/exoplanet_jax_version.py",
]

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.report]
show_missing = true
exclude_lines = []
