name: Tests

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
  merge_group:

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.10", "3.11", "3.12"]
        session:
          - "test"
        include:
          - os: "ubuntu-latest"
            python-version: "3.11"
            session: "test_x64"
          - os: "macos-latest"
            python-version: "3.11"
            session: "test"
          - os: "ubuntu-22.04"
            python-version: "3.10"
            session: "comparison"

    steps:
      - name: "Init: checkout"
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: "Init: Python"
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: "Install: dependencies"
        run: |
          python -m pip install -U pip
          python -m pip install -U nox

      - name: "Tests: run"
        run: |
          python -m nox --non-interactive --error-on-missing-interpreter \
            --session "${{matrix.session}}-${{matrix.python-version}}"

  docs-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -U nox
      - name: "Build: docs"
        run: |
          python -m nox --non-interactive --session docs
      - name: "Upload logs on failure"
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: docs/_build

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -U build twine
      - name: Build the distribution
        run: python -m build .
      - name: Check the distribution
        run: python -m twine check --strict dist/*
      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/*

  publish:
    environment:
      name: pypi
      url: https://pypi.org/p/jaxoplanet
    permissions:
      id-token: write
    needs: [tests, build]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist
      - uses: pypa/gh-action-pypi-publish@v1.12.3
